<div>
    <h2 id="page-heading">
        <span>Thread Messages</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-thread-message" [routerLink]="['/thread-message/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create new Thread Message
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="threadMessages">
        <table class="table table-striped">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Thread</span></th>
            <th><span>Message</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let threadMessage of threadMessages ;trackBy: trackId">
                <td><a [routerLink]="['/thread-message', threadMessage.id, 'view' ]">{{threadMessage.id}}</a></td>
                <td>
                    <div *ngIf="threadMessage.thread">
                        <a [routerLink]="['../thread', threadMessage.thread?.id, 'view' ]" >{{threadMessage.thread?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="threadMessage.message">
                        <a [routerLink]="['../message', threadMessage.message?.id, 'view' ]" >{{threadMessage.message?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/thread-message', threadMessage.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/thread-message', threadMessage.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'thread-message/'+ threadMessage.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
