<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="jhi-weapon-heading">Create or edit a Weapon</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!weapon.id">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="weapon.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_name">Name</label>
                    <input type="text" class="form-control" name="name" id="field_name"
                        [(ngModel)]="weapon.name" required minlength="1"/>
                    <div [hidden]="!(editForm.controls.name?.dirty && editForm.controls.name?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.required">
                        This field is required.
                        </small>
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.name?.errors?.minlength">
                        This field is required to be at least 1 characters.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_description">Description</label>
                    <input type="text" class="form-control" name="description" id="field_description"
                        [(ngModel)]="weapon.description" />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_imageName">Image Name</label>
                    <input type="text" class="form-control" name="imageName" id="field_imageName"
                        [(ngModel)]="weapon.imageName" required/>
                    <div [hidden]="!(editForm.controls.imageName?.dirty && editForm.controls.imageName?.invalid)">
                        <small class="form-text text-danger"
                        [hidden]="!editForm.controls.imageName?.errors?.required">
                        This field is required.
                        </small>
                    </div>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_thread">Thread</label>
                    <select class="form-control" id="field_thread" name="thread" [(ngModel)]="weapon.thread" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="threadOption.id === weapon.thread?.id ? weapon.thread : threadOption" *ngFor="let threadOption of threads; trackBy: trackThreadById">{{threadOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
