<mat-list role="list" class="list-margin">
    <mat-card *ngFor="let thread of threads" class="margin-card card-borderradius">
        <mat-card-header class="card-header card-header-borderradius">
            <mat-card-title class="card-title">{{thread.title}}</mat-card-title>
        </mat-card-header>
        <mat-card-content class="list-chips-margin">
            <mat-chip-list class="mat-chip-list-stacked">
                <mat-chip color="accent" (click)="onChipClick(message)" *ngFor="let message of thread.messages">{{message.content}}</mat-chip>
            </mat-chip-list>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-mini-fab (click)="onAddClick(thread)" color="accent"><mat-icon aria-label="Nuevo" class="white-icººon">add</mat-icon></button>
        </mat-card-actions>
    </mat-card>
</mat-list>
