<mat-grid-list #grid rowHeight="1:1.5" class="margin-grid">
    <mat-grid-tile *ngFor="let weapon of weapons">
        <mat-card class="margin-card">
            <img mat-card-image [src]='weapon.imageUrl'/>
            <mat-card-title>{{weapon.name}}</mat-card-title>
            <mat-card-content>{{weapon.description}}</mat-card-content>
            <mat-card-actions>
                <button mat-flat-button color="accent" class="center-button" (click)="onCardButtonClicked(weapon)">VER</button>
            </mat-card-actions>
        </mat-card>
    </mat-grid-tile>
</mat-grid-list>
