// Import all the tools needed to customize the theme and extract parts of it
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700|Material+Icons');
@import '~@angular/material/theming';

@include mat-core();

$custom-theme-primary: mat-palette($mat-pink, 800);
$custom-theme-accent: mat-palette($mat-red, 400);

$custom-theme: mat-light-theme($custom-theme-primary, $custom-theme-accent);

@include angular-material-theme($custom-theme);
